<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Oye_Themetuner>
			<version>2.1.1</version>
		</Oye_Themetuner>
	</modules> 
	<global>
		<models>
			<themetuner>
                <class>Oye_Themetuner_Model</class>
                <resourceModel>themetuner_mysql4</resourceModel>
            </themetuner>
            <themetuner_mysql4>
                <class>Oye_Themetuner_Model_Mysql4</class>
                <entities>
                    <preset>
                    	<table>themetuner_preset</table>
                    </preset>
                    <translate>
                    	<table>themetuner_translate</table>
                    </translate>
                </entities>
            </themetuner_mysql4>
            <!--<core>
                <rewrite>
                    <translate>Oye_Themetuner_Model_Core_Translate</translate>
                    <translate_inline>Oye_Themetuner_Model_Core_Translate_Inline</translate_inline>
                </rewrite>
            </core>-->
		</models>
		<resources>
            <themetuner_setup>
                <setup>
                    <module>Oye_Themetuner</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </themetuner_setup>
            <themetuner_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </themetuner_write>
            <themetuner_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </themetuner_read>
        </resources>
		<helpers>
			<themetuner>
				<class>Oye_Themetuner_Helper</class>
			</themetuner>
            <cms>
                <rewrite>
                    <wysiwyg_images>Oye_Themetuner_Helper_Wysiwyg_Images</wysiwyg_images>
                </rewrite>
            </cms>
            <!--<core>
                <rewrite>
                    <translate>Oye_Themetuner_Helper_Core_Translate</translate>
                </rewrite>
            </core>-->
		</helpers>
		<blocks>
			<themetuner>
				<class>Oye_Themetuner_Block</class>
			</themetuner>
            <page>
                <rewrite>
                    <html_header>Oye_Themetuner_Block_Page_Html_Header</html_header>
                </rewrite>
            </page>
            <adminhtml>
                <rewrite>
                    <cms_wysiwyg_images_content>Oye_Themetuner_Block_Adminhtml_Cms_Wysiwyg_Images_Content</cms_wysiwyg_images_content>
                    <system_config_form>Oye_Themetuner_Block_Adminhtml_System_Config_Form</system_config_form>
                </rewrite>
            </adminhtml>
		</blocks>
		<events>
            <controller_action_predispatch>
                <observers>
                    <themetuner_controller_action_predispatch_changetheme>
                        <type>singleton</type>
                        <class>themetuner/observer</class>
                        <method>changeTheme</method>
                    </themetuner_controller_action_predispatch_changetheme>
                    <themetuner_controller_action_predispatch_changestore>
                        <type>singleton</type>
                        <class>themetuner/observer</class>
                        <method>changeStore</method>
                    </themetuner_controller_action_predispatch_changestore>
                </observers>
            </controller_action_predispatch>
		</events>
	</global>
	<admin>
        <routers>
            <themetuner>
                <use>admin</use>
                <args>
                    <module>Oye_Themetuner</module>
                    <frontName>themetuner</frontName>
                </args>
            </themetuner>
        </routers>
    </admin>
	<adminhtml>
		<layout>
			<updates>
				<themetuner>
					<file>themetuner.xml</file>
				</themetuner>
			</updates>
		</layout>
		<menu>				
        	<themetuner translate="title" module="themetuner">
        		<title>Theme Editor</title>
        		<sort_order>999</sort_order>
        		<action>themetuner/adminhtml_themetuner/index</action>
        	</themetuner>
		</menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <themetuner translate="title" module="themetuner">
                            <title>Theme Editor</title>
                            <sort_order>70</sort_order>
                        </themetuner>
                    </children>
                </admin>
            </resources>
        </acl>



	</adminhtml>
	<admin>
		<routers>
            <adminhtml>
                <args>
                    <modules>
                        <Oye_Themetuner before="Mage_Adminhtml">Oye_Themetuner</Oye_Themetuner>
                    </modules>
                </args>
            </adminhtml>
			<themetuner>
				<use>admin</use>
				<args>
					<module>Oye_Themetuner</module>
					<frontName>themetuner</frontName>
				</args>
			</themetuner>
		</routers>
	</admin>
	<frontend>
		<layout>
			<updates>
				<themetuner>
					<file>themetuner.xml</file>
				</themetuner>
			</updates>
		</layout>
		<routers>
            <themetuner_frontend>
                <use>standard</use>
                <args>
                    <module>Oye_Themetuner</module>
                    <frontName>css</frontName>
                </args>
            </themetuner_frontend>
            <core>
                <args>
                    <modules>
                        <Oye_Themetuner before="Mage_Core">Oye_Themetuner_Core</Oye_Themetuner>
                    </modules>
                </args>
            </core>
        </routers>
        <events>
		    <controller_action_predispatch>
	            <observers>
	                <themetuner_controller_action_predispatch_changetheme>
	                    <type>singleton</type>
	                    <class>themetuner/observer</class>
	                    <method>addAdminLayoutEditor</method>
	                </themetuner_controller_action_predispatch_changetheme>
	            </observers>
		    </controller_action_predispatch>
		    <core_block_abstract_to_html_after>
	            <observers>
	                <themetuner_core_block_abstract_to_html_after>
	                    <type>singleton</type>
	                    <class>themetuner/observer</class>
	                    <method>wrapLayoutEditor</method>
	                </themetuner_core_block_abstract_to_html_after>
	            </observers>
		    </core_block_abstract_to_html_after>
		    <controller_action_layout_generate_xml_before>
	            <observers>
	                <themetuner_controller_action_layout_generate_xml_before>
	                    <type>singleton</type>
	                    <class>themetuner/observer</class>
	                    <method>addCustomLayout</method>
	                </themetuner_controller_action_layout_generate_xml_before>
	            </observers>
		    </controller_action_layout_generate_xml_before>
		    <controller_action_layout_load_before>
	            <observers>
	                <themetuner_controller_action_layout_load_before>
	                    <type>singleton</type>
	                    <class>themetuner/observer</class>
	                    <method>addCustomColumns</method>
	                </themetuner_controller_action_layout_load_before>
	            </observers>
		    </controller_action_layout_load_before>
		</events>
	</frontend>
</config>